.story{
    background-color: #888;
    min-height: 100vh ;
    width: 100vw;
    display: grid;
    place-content: center;
    padding: 2rem;
    overflow-x:hidden ;
}
.story__form{
    max-width: 52.7rem;
    padding: 3rem;
    border-radius: 1.6rem;
    background-color: #fff;
    color: #676767;
}
.story__heading{
    font-size: 2.8rem;
    color: #000;
    margin-bottom: 4rem;
    text-align: center;
}
.story__form-group{
    margin-bottom: 2.4rem;
}
.story__label{
    display: block;
    font-size: 1.4rem;
    margin-bottom: 13px;
}
.story__input{
    background: rgba(254, 254, 254, 0.3);
    border: 1px solid #EAEAEA;
    box-sizing: border-box;
    border-radius: 8px;
    padding: 2rem 2.4rem;
    width: 100%;
    font-size: 1.6rem;
    outline: none;
}
.story__input:focus{
    border-color: #FF5C00;
    outline: none;
}
.story__file{
    visibility: hidden;
}
.story__file-box{
    background: rgba(254, 254, 254, 0.3);
    border: 1px solid #EAEAEA;
    box-sizing: border-box;
    border-radius: 8px;
    padding: 2rem 2.4rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.story__file-box--span{
    color: #676767;
    font-size: 1.6rem;
}
.story__form--grid{
    display: grid;
    grid-gap:2rem;
    grid-template-columns: 1fr 1fr;
}
.story__textarea{
    width: 100%;
    border: 1px solid #EAEAEA;
    border-radius: 8px;
    padding: 2rem 2.4rem;
    height: 111px;
    resize: none;
    outline: none;
    font-size: 1.6rem;
    font-family: inherit;
}
.story__textarea:focus{
    border-color: #FF5C00;
    outline: none;
}
.story__radiogroup{
    display: flex;
    justify-content: space-between;
}
.story__radiotext{
    font-size: 14px;
    color: #676767;
}
.story__radiobox{
    display: flex;
}
.story__radiolabel{
    display: flex;
    align-items: center;
    margin-left: 1.6rem
}
.story__radiospan{
    
    font-size: 1.4rem;
    color: #242120;
    display: flex;
    align-items: center;
}

.story__radiospan::before{
    content:"";
    width: 8px;
    height: 8px;
    margin-right: 7px;
    display: block;
    left:0;
    top:0;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0px 0px 0px 2px #fff,0px 0px 0px 3px #676767;
}
.story__radiotag{
    display: none;
}
.story__radiotag:checked + .story__radiospan::before{
    background-color: #FF5C00;
    box-shadow: 0px 0px 0px 2px #fff,0px 0px 0px 3px #FF5C00;
}
.story__buttondiv{
    display: flex;
    justify-content: flex-end;
}
.story__button{
    font-size: 2rem;
    color: #fff;
    border-radius: 8px;
    padding: 2rem 4rem;
    border: none;
    background-color: #FF5C00;
    box-shadow: 2px 8px 30px rgba(230, 83, 0, 0.18);
    border-radius: 8px;
}
.story__complete{
    font-size: 7.2rem;
    width: 15.5rem;
    height: 15.5rem;
    border-radius: 50%;
    background-color: #FFF8F5;
    display: grid;
    place-content: center;
    margin: 0px auto 2rem;
}
.story__complete-box{
    max-width: 35rem;
    margin: 0 auto;
    text-align: center;
}
.story__completeHeading{
    font-size: 2.8rem;
    color: #000;
    line-height: 34px;
    margin-bottom: 16px;
}
.story__completeText{
    font-size: 16px;
    line-height: 28px;
    color: #4A4A4A;
    margin-bottom: 48px;
}
.story__completeLink:link,
.story__completeLink:visited{
    font-size: 2rem;
    color: #fff;
    border-radius: 8px;
    padding: 2rem 4rem;
    background-color: #FF5C00;
    box-shadow: 2px 8px 30px rgba(230, 83, 0, 0.18);
    border-radius: 8px;
    text-decoration: none;
    display: inline-block;
    width: 253px;
}

.underline{
    transform: translateY(-4px);
}